
          body {
                font-family: Arial, sans-serif;
                text-align: center;
                justify-content: center;
                padding: 50px;
            }
        .searchBar {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        .textArea {
            width: 300px;
            height: 30px;
            border: 1px solid #ccc;
            padding: 5px;
            font-size: 16px;
        }

        .searchButton {
            margin-left: 10px;
            padding: 5px 15px;
            font-size: 16px;
            cursor: pointer;
        }

        .results {
            justify-content: center;
            border: 1px solid #ccc;
            width: 310px;
            height: 50px;
            overflow-y: scroll;
            scrollbar-width: thin;
            max-width: 100%;
            overflow-wrap: break-word;
        }

        .result-item{
           color:rgb(86, 110, 102);
        }

        .result-item:hover{
            color:#ffffff;
            cursor:pointer;
            background-color: rgb(207, 140, 18);
        }

        .highlight {
            background-color: yellow;
            font-weight: bold;
            color: #000;
        }

        .singerOrGroup, .title {
            color: #555;
            padding: 20px;
            border: 1px solid #ccc;
            width: 300px;
            height: 300px;
        }

            .choices {
                margin-top: 50px;
            }
            .choicesBtn {
                display: flex;
                justify-content: center;
                gap: 50px;
            }
            .choiceBtn {
                padding: 20px;
                border: 1px solid #ccc;
                width: 100px;
                height: 100px;
                cursor: pointer;
            }   

        @media screen and (max-width: 600px) {
            .searchBar {
                flex-direction: column;
            }

            .textArea {
                width: 100%;
                margin-bottom: 10px;
            }

            .resultBox {
                margin-top: 3rem;
                flex-direction: row;
                gap: 20px;
                height: 100%;
                width: 100%;
            }
                .singerOrGroup, .title {
                    width: 100%;
                    height: 2rem;
                    width: 5rem;
                }

        }
