<div class="col-2">
<section>
<section>
    <form (submit)="$event.preventDefault()">
        <input
            type="text"
            placeholder="Rechercher une chanson"
            #searchInput
            class="textArea"
            (input)="filterResults(searchInput.value)"
        />
        <button type="button" (click)="filterResults(searchInput.value)">Rechercher</button>
    </form>
</section>

<section class="results">
    <div *ngFor="let song of filteredSongsList; trackBy: trackBySong" 
    class="result-item" (click)="addToSelection(song)">
        {{ song.title }}
    </div>
</section>
</section>


<section class="selectedSong" *ngIf="selectedSongs.length > 0">
    <h3>Chansons sélectionnées :</h3>
    <ul class="songsChoosed">
        <li *ngFor="let song of selectedSongs; trackBy: trackBySong">
            {{ song.title }}
            <button type="button" (click)="removeFromSelection(song)">Retirer</button>
        </li>
    </ul>
    <button type="button" routerLink="/Recap">Valider la sélection</button>
</section>
</div>


