
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
  }

  h1 {
    color: #333;
  }

  h2{
    color: #555;
    margin-top: 20px;
    padding: 20px;
    cursor: pointer;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .home {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
